# Ignores provider files
**/.terraform/*

# Temporary lock file while building
/.hugo_build.lock

# Temp disable public
/public/*

# VSCODE
**/*.code-workspace

# notes obviously
notes_*.html

# more notes
scratch.md

data/