{{ define "main" }}
    {{ $date_machine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $date_human := .Date.Format "2006-01-02" }}
    {{ $last_mod_machine := .Lastmod.Format "2006-01-02T15:04:05-07:00" }}
    {{ $last_mod := .Lastmod.Format "2006-01-02" }}

  <div class="log-title-container">
    <h1>
      <span class="title-prefix">
        <a href="{{ .Parent.RelPermalink }}"><</a>
      </span>
      {{ .Title }}
    </h1>
    <div class="time-container">
      <span class="log-single-time"><time datetime="{{ $date_machine }}">POSTED ON {{ $date_human }}</time></span>
      {{ if gt $last_mod $date_human}}
        <span class="time-separator">|</span>
        <span class="log-single-time"><time datetime="{{ $last_mod_machine }}">UPDATED ON {{ $last_mod }}</time></span>
      {{ end }}
    </div>

    <span class="log-long-desc">{{ .Description }}</span>
  </div>

  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

  <article>
    {{ .Content }}
  </article>

{{ end }}
