{{ define "main" }}
  {{ $date_machine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $date_human := .Date.Format "2006-01-02" }}

  <h1>
      <span class="title-prefix">
        <a href="{{ .Parent.RelPermalink }}"><</a>
      </span>
      {{ .Title }}
  </h1>

  {{ with .Params.header_image }}
  {{ $image := $.Resources.GetMatch . }}
  <div class="project-header-image">
    {{ if $image }}
      <img src="{{ $image.RelPermalink }}" alt="{{ $.Title }} Log Header Image" title="{{ $.Title }} Log Header Image">
    {{ else }}
      <img src="{{ . | relURL }}" alt="{{ $.Title }} Log Header Image" title="{{ $.Title }} Log Header Image">
    {{ end }}
  </div>
  {{ end }}

  <span class="project-single-time"><time datetime="{{ $date_machine }}">added on {{ $date_human }}</time></span>

  <span class="project-long-desc">{{ .Description }}</span>

  <article>
    {{ .Content }}
  </article>

  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}