<img src="{{ .Site.BaseURL }}images/invert_primary.svg" alt="invert icon" id="invert" tabindex="0">
<div id="footer-contact">
    <a href="mailto:lee@tinyroosters.com">Contact</a>
    <a href="mailto:issues@tinyroosters.com">Issues</a>
    <a href="https://bsky.app/profile/tinyroosters.bsky.social" target="_blank">Bluesky</a>
    <a href="https://github.com/Travlee" target="_blank">GitHub</a>
</div>
<p id="copyright">by <span class="copyright-name">Tiny Roosters</span> <span id="copyright-current-year"></span></p>