{{ define "main" }}

  <h1>
    <span class="title-prefix"><a href="{{ .Parent.RelPermalink }}"><</a></span> {{ .Title }}
  </h1>

  <div class="logs-content">{{ .Content }}</div>

  <div class="logs-container">
  {{ range .Pages }}
    {{ $date_machine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $date_human := .Date.Format "2006-01-02" }}

    <div class="log-row">
      <a href="{{ .RelPermalink }}" title="{{ .Description }}">
        <span class="log-time"> <time datetime="{{ $date_machine }}">{{ $date_human }}</time></span>:
        <span class="log-title">{{ .LinkTitle }}</span> -
        <span class="log-desc">{{ .Description }}</span>
      </a>
    </div>
  {{ end }}

  </div>

{{ end }}
