{{ define "main" }}
    {{ $date_machine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $date_human := .Date.Format "2006-01-02" }}
    {{ $last_mod_machine := .Lastmod.Format "2006-01-02T15:04:05-07:00" }}
    {{ $last_mod := .Lastmod.Format "2006-01-02" }}

  <div class="log-title-container">
    <h1>
      <span class="title-prefix">
        <a href="{{ .Parent.RelPermalink }}"><</a>
      </span>
      {{ .Title }}
    </h1>
    <p><time datetime="{{ $date_machine }}">posted on {{ $date_human }}</time></p>
    {{ if ne $last_mod $date_human}}
      <p><time datetime="{{ $last_mod_machine }}">updated on {{ $last_mod }}</time></p>
    {{ end }}

    <span class="log-long-desc">{{ .Description }}</span>
  </div>


  <article>
    {{ .Content }}
  </article>

  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
