{{ define "main" }}

<div class="hero">
    <h2>{{ .Params.hero_text | default .Content }}</h2>
</div>

<section>
    <h1>Latest Logs</h1>
    <div class="logs-container">
        {{ range first 3 (where site.RegularPages.ByDate.Reverse "Type" "logs") }}
            {{ $date_machine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $date_human := .Date.Format "2006-01-02" }}
            <div class="row">
                <a href="{{ .RelPermalink }}" title="{{ .Description }}">
                    <span class="row-time"> <time datetime="{{ $date_machine }}">{{ $date_human }}</time></span>:
                    <span class="row-title">{{ .LinkTitle }}</span> -
                    <span class="row-desc">{{ .Description }}</span>
                </a>
            </div>
        {{ end }}
    </div>
</section>

<section>
    <h1>Latest Projects</h1>
    <div class="projects-container">
        {{ range first 3 (where site.RegularPages.ByDate.Reverse "Type" "projects") }}
            {{ $date_machine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $date_human := .Date.Format "2006-01-02" }}
            <div class="row">
                <a href="{{ .RelPermalink }}" title="{{ .Description }}">
                    <span class="row-time"> <time datetime="{{ $date_machine }}">{{ $date_human }}</time></span>:
                    <span class="row-title">{{ .LinkTitle }}</span> -
                    <span class="row-desc">{{ .Description }}</span>
                </a>
            </div>
        {{ end }}
    </div>
</section>

{{ end }}
