{{- /* Our home page design. */}}

{{ define "main" }}
<main>
    <!-- This loads in index.md from content -->
    <h2>{{ .Content }} {{ site.Title }}</h2>

    <section>
        {{ range where site.RegularPages "Type" "blog" }}
            <article>
                <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                <p>{{ .Params.date.Format "2006-01-02 Mon" }}</p>
                <p>{{ .Summary }}</p>
            </article>
        {{ end }}
    </section>

    <section>
        {{ range where site.RegularPages "Type" "projects" }}
            <article>
                <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                <p>{{ .Params.date.Format "2006-01-02 Mon" }}</p>
                <p>{{ .Summary }}</p>
            </article>
        {{ end }}
    </section>
</main>

{{ end }}