{{ define "main" }}
  <h1>
    <span class="title-prefix">
      {{- $back_url := "logs" | relURL -}}
      {{- if eq .Data.Plural "project_tags" -}}
        {{- $back_url = "projects" | relURL -}}
      {{- end -}}
      <a href="{{ $back_url }}"><</a>
    </span> {{ .Title }}
  </h1>

  <div class="row-container terms-page-container">
    {{ range .Data.Terms.ByCount }}
      <div class="row">
        <span class="row-arrow">→</span>
        <a href="{{ .Page.RelPermalink }}" class="row-title-link color-primary"><span class="color-less-contrast">#</span>{{ .Page.LinkTitle }}</a>
        <div class="row-desc">({{ .Count }} posts)</div>
      </div>
    {{ end }}
  </div>
{{ end }}
