#character_logo {
    display: block;
    margin: 4em auto 0 auto;
    width: 60px;
    height: auto;
    cursor: pointer;

    /* -webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite; */
}

body footer{
    margin-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
}

#footer-contact {
    margin-top: 2rem;
    font-size: var(--14px);
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

#footer-contact a {
    color: var(--font-less-contrast);
    text-decoration: underline;
}

#footer-contact a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

#copyright {
    font-size: var(--14px);
    margin-top: 1rem;
    color: var(--font-less-contrast);
}

.copyright-name{
    color: var(--primary-color);
}

.copyright-symbol {
    color: var(--font-less-contrast);
}