header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 2em;
}

header img#text_logo {
    display: block;
    max-width: 100%;
    max-height: 100%;
    min-width: 150px;
    min-height: auto;
}

header img#text_logo_alt {
    display: none;
    max-width: 100%;
    max-height: 100%;
    min-width: 150px;
    min-height: auto;
}

header img#character_logo {
    display: block;
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: auto;
    right: 0;
    cursor: pointer;
}

body header nav a{
    color: var(--alt-secondary-color);
    cursor: pointer;
    display: inline-block;
    font-size: .8rem;
    text-transform: uppercase;
    text-decoration: none;
    /* font-family: "RedHatDisplay-Bold"; */
    /* font-family: "RedHatDisplay-ExtraBold"; */
    font-family: "RedHatDisplay-Black";
    padding: 10px;
}
body header nav a:hover {
    color: var(--font-color);
    /* text-decoration: underline; */
}

main header h1{
    color: gold;
}

.active-page {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    header {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header > a:first-of-type {
        order: 1;
        flex: 0 1 auto;
    }

    header nav {
        order: 3;
        flex: 1 0 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        padding-top: 15px;
    }

    body header nav a {
        margin: 0;
        font-size: 0.9rem;
        flex: 1;
        text-align: center;
        padding: 10px 5px;
    }
    }