.log-long-desc{
    display: block;
    margin-top: 10px;
    color: var(--font-less-contrast);
    font-size: var(--14px);
    font-style: italic;
}

.log-single-time{
    display: inline-block;
    font-size: var(--12px);
    font-style: italic;
    color: var(--primary-color);
}

.terms-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-size: var(--14px);
}

.terms-label {
    font-family: 'RedHatDisplay-Black';
    text-transform: uppercase;
    color: var(--font-less-contrast);
}

.terms-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.term-item a {
    color: var(--primary-color) !important;
    text-decoration: none !important;
    border: 1px solid var(--primary-color);
    padding: 2px 6px;
    text-transform: lowercase;
}

.term-item a::before {
    content: "#";
    opacity: 0.5;
    margin-right: 2px;
}

.term-item a:hover {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}

.row-tags {
    display: flex;
    gap: var(--8px);
    flex: 0 0 auto;
    margin-left: auto;
    padding: 0;
    position: relative;
    z-index: 2;
    margin-right: 5px;
}

.row-tag, .row-tag-filler {
    font-size: var(--12px);
    color: var(--font-less-contrast) !important;
    text-decoration: none !important;
    font-style: italic;
    white-space: nowrap;
    background: none !important;
    padding: 0 4px;
}

.row-tag:hover {
    color: var(--primary-color) !important;
    background-color: var(--secondary-color) !important;
    text-decoration: none !important;
}

.tags-header {
    margin-bottom: 20px;
    font-size: var(--14px);
}

.tags-header a {
    color: var(--primary-color) !important;
    text-decoration: none;
    font-weight: bold;
    font-family: 'RedHatDisplay-Black';
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tags-header a:hover {
    color: var(--secondary-color) !important;
    text-decoration: underline;
}

.logs-content{
    margin-bottom: 20px;
    color: var(--font-color);
}