.project-header-image{
    margin-bottom: var(--10px);
}

.project-header-image img{
    width: 100%;
    border: 1px solid var(--font-less-contrast-2);
}

.project-single-time{
    display: inline-block;
    font-size: var(--12px);
    font-style: italic;
    color: var(--primary-color);
}

.project-long-desc{
    display: inline-block;
    margin-top: var(--10px);
    color: var(--font-less-contrast);
    font-size: var(--14px);
    font-style: italic;

}

.projects-content{
    margin-bottom: var(--20px);
    color: var(--font-color);
}

.projects-container{
    margin-top: 1rem;
}
