.project-header-image{
    margin-bottom: var(--10px);
}

.project-header-image img{
    width: 100%;
}

.project-single-time{
    display: block;
    margin-top: var(--10px);
    font-size: var(--12px);
    font-style: italic;
    color: var(--font-less-contrast);
}

.project-long-desc{
    display: inline-block;
    margin-top: var(--10px);
    color: var(--font-less-contrast);
    font-size: var(--14px);
    font-style: italic;

}

.projects-content{
    margin-bottom: var(--20px);
    color: var(--font-color);
}
