{{ define "main" }}
  <h1>
    <span class="title-prefix"><a href="{{ "logs" | relURL }}"><</a></span> {{ .Title }}
  </h1>

  <div class="row-container terms-page-container">
    {{ range .Data.Terms.ByCount }}
      <div class="row">
        <a href="{{ .Page.RelPermalink }}">
          <span class="row-arrow">→</span>
          <span class="row-title"><span class="color-less-contrast">#</span>{{ .Page.LinkTitle }}</span>
          <span class="row-desc">({{ .Count }} posts)</span>
        </a>
      </div>
    {{ end }}
  </div>
{{ end }}
