{{- $page := .page }}
{{- $menuID := .menuID }}

{{ with site.Menus.main }}
  <nav>
    {{ range . }}
      {{ $isCurrent := $page.IsMenuCurrent .Menu . }}
      {{ $isAncestor := $page.HasMenuCurrent .Menu . }}
      {{ $isSection := and (ne .URL "/") (eq $page.Section (strings.Trim .URL "/")) }}
      {{ if or $isCurrent $isAncestor $isSection }}
        <a class="active-page" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
      {{ else }}
        <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    {{ end }}
  </nav>
{{ end }}