header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header img#text_logo {
    display: block;
    max-width: 100%;
    max-height: 100%;
    min-width: 150px;
    min-height: auto;
}

header img#text_logo_alt {
    display: none;
    max-width: 100%;
    max-height: 100%;
    min-width: 150px;
    min-height: auto;
}

header img#character_logo {
    display: block;
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: auto;
    right: 0;
    cursor: pointer;
}

body header nav a{
    color: var(--alt-secondary-color);
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    text-decoration: none;
    /* font-family: "RedHatDisplay-Bold"; */
    /* font-family: "RedHatDisplay-ExtraBold"; */
    font-family: "RedHatDisplay-Black";
    margin: 0 10px;
}
body header nav a:hover {
    text-decoration: underline;
}

main header h1{
    color: gold;
}

.active-page {
    text-decoration: underline;
}