.logs {
    display: grid;
    grid-template-columns: 120px 1fr 300px;
    gap: 10px;

    justify-content: space-between;
    justify-content: left;
    align-items: center;
}

.log-title-container{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin: 0;
}
.log-title-container h1{
    margin: 0;
}

.log-title-container p{
    margin: 0;
    font-size: var(--12px);
    font-style: italic;
    color: var(--font-less-contrast);
}

/* .log-title-container a{
    color: var(--primary-color);
} */

.logs-content{
    margin-bottom: 20px;
    color: var(--font-color);
}

.logs-container{
    display: grid;
    color: var(--font-color);
}

.logs-container a{
    text-decoration: none;
    color: var(--font-color);
}
.logs-container a:hover{
    text-decoration: underline;
}

.logs-container a:hover span {
    color: var(--secondary-color);
    text-decoration: underline;
}

.log-long-desc{
    display: block;
    margin-top: 10px;
    color: var(--font-less-contrast);
    font-size: var(--14px);
    font-style: italic;
}

.log-single-time{
    display: block;
    margin-top: 10px;
    font-size: var(--12px);
    font-style: italic;
    color: var(--font-less-contrast);
}

.terms-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-size: var(--14px);
}

.terms-label {
    font-family: 'RedHatDisplay-Black';
    text-transform: uppercase;
    color: var(--font-less-contrast);
}

.terms-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.term-item a {
    color: var(--primary-color) !important;
    text-decoration: none !important;
    border: 1px solid var(--primary-color);
    padding: 2px 6px;
    text-transform: lowercase;
}

.term-item a::before {
    content: "#";
    opacity: 0.5;
    margin-right: 2px;
}

.term-item a:hover {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}

.row-tag {
    font-size: var(--12px);
    color: var(--font-less-contrast) !important;
    text-decoration: none !important;
    margin-left: 8px;
    font-style: italic;
}

.row-tag:hover {
    color: var(--primary-color) !important;
    text-decoration: underline !important;
}