body article {
    margin-top: 2rem;
}
main small{
    font-style: italic;
}
article h1, article h2, article h3, article h4 {
    text-transform: capitalize;
}
article h1 {
    font-size: calc(var(--h1) * .8);
}
article h2 {
    font-size: calc(var(--h2) * .8);
}
article h3 {
    font-size: calc(var(--h3) * .8);
}
article h4 {
    font-size: calc(var(--h4) * .8);
}

.logs {
    display: grid;
    grid-template-columns: 120px 1fr 300px;
    gap: 10px;

    justify-content: space-between;
    justify-content: left;
    align-items: center;
}

.log-title-container{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin: 0;
}
.log-title-container h1{
    margin: 0;
}

.log-title-container p{
    margin: 0;
    font-size: var(--12px);
    font-style: italic;
    color: var(--font-less-contrast);
}

/* .log-title-container a{
    color: var(--primary-color);
} */

.logs-container{
    display: grid;
}

.logs-container{
    color: var(--font-color);
}
.logs-container p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--font-less-contrast);
    margin: 0.25rem 0;
}
.logs-container a{
    text-decoration: none;
    color: var(--font-color);
}
.logs-container a:hover{
    text-decoration: underline;
}

.logs-container a:hover span {
    color: var(--secondary-color);
    text-decoration: underline;
}

.log-time{
    color: var(--font-color);
    text-decoration: none;
}
.log-title{
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    color: var(--primary-color);
}
.log-desc{
    color: var(--font-less-contrast);
    text-decoration: none;
}
