@import url("/css/fonts.css");

:root {
    --primary-color: #FEC426;
    --alt-primary-color: #060606;
    --secondary-color: #060606;
    --alt-secondary-color: #FEC426;
    --secondary-font-color: #474347;
    --font-color: white;
    --alt-font-color: #060606;
    --btn-hover-color: #FEC426;
    --font-less-contrast: #474347;
    --font-less-contrast-2: #362700;
    --alt-btn-hover-color: #362700;
    --link-color: #FEC426;
    --alt-link-color: #362700;
    --link-visited-color: #FEC426;
    --alt-link-visited-color: #FEC426;

    --8px: 0.5rem;
    --10px: 0.625rem;
    --12px: 0.75rem;
    --14px: 0.875rem;
    --15px: 0.9375rem;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
    --32px: 2rem;
    --40px: 2.5rem;

    --h1: 2.5rem;
    --h2: 2rem;
    --h3: 1.5rem;
    --h4: 1rem;
}

body {
    color: var(--font-color);
    background-color: var(--secondary-color);
    font-family: "RedHatDisplay-Regular";
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
    hyphens: auto;
    font-size: var(--16px);
}

@media screen and (max-device-width: 950px) {
    body {
        margin: 1em auto;
    }
}

@media screen and (min-width: 951px) {
    body {
        margin: 1em auto;
    }
}

body main a {
    color: var(--primary-color);
    text-decoration: underline;
}
body main a:hover {
    color: var(--alt-primary-color) !important;
    background-color: var(--alt-secondary-color);
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

main h1 {
    font-size: var(--h1);
    text-transform: uppercase;
}
main h2 {
    font-size: var(--h2);
}
main h3 {
    font-size: var(--h3);
}
main h4 {
    font-size: var(--h4);
}
body article {
    margin-top: 2rem;
}
main small{
    font-style: italic;
}
article h1, article h2, article h3, article h4 {
    text-transform: capitalize;
}
article h1 {
    font-size: calc(var(--h1) * .8);
}
article h2 {
    font-size: calc(var(--h2) * .8);
}
article h3 {
    font-size: calc(var(--h3) * .8);
}
article h4 {
    font-size: calc(var(--h4) * .8);
}

main {
    margin-top: 5em;
}
main img {
    max-width: 800px;
    min-width: 200px;
    height: auto;
}
main p{
    margin: 0;
}

main h1, main h2, main h3, main h4 {
    color: var(--font-color);
    font-family: 'RedHatDisplay-Black';
}

.title-prefix{
    color: var(--primary-color);
    cursor: pointer;
}

.title-prefix a{
    text-decoration: none;
}