
.project-item{
    max-width: 500px;
    max-height: auto;
}

.project-item img{
    max-width: 100%;
}

.project-item img:hover{
    /* box-shadow:inset 0px 0px 0px 50px var(--primary-color); */
}

.project-item a{
    opacity: 1;
    transition: .25s ease;
}

.project-item a:hover{
    background: none;
    opacity: 0.5;
    filter: blur(0.5px);
}


.project-item-cover-title{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 3rem;
}

.project-header-image{
    margin-bottom: var(--10px);
}

.project-header-image img{
    width: 100%;
}

.project-single-time{
    display: block;
    margin-top: var(--10px);
    font-size: var(--12px);
    font-style: italic;
    color: var(--font-less-contrast);
}

.project-long-desc{
    display: inline-block;
    margin-top: var(--10px);
    color: var(--font-less-contrast);
    font-size: var(--14px);
    font-style: italic;

}

.projects-container{
    display: grid;
    color: var(--font-color);
}

.projects-container a{
    text-decoration: none;
}

.projects-container a:hover{
    text-decoration: underline;
}

.projects-container a:hover span {
    color: var(--secondary-color);
    text-decoration: underline;
}

.projects-content{
    margin-bottom: var(--20px);
    color: var(--font-color);
}
