.terms-page-container {
    margin-top: 2rem;
}

.taxonomy-header {
    margin-bottom: 2rem;
    font-size: var(--14px);
    color: var(--font-less-contrast);
}

.taxonomy-header a {
    color: var(--primary-color);
    text-decoration: underline;
}
